accelerate
aiohappyeyeballs
aiohttp
aiosignal
annotated-doc
anyio
attrs
bitsandbytes
certifi
charset-normalizer
click
cuda-bindings
cuda-pathfinder
datasets
dill
filelock
frozenlist
fsspec
h11
hf-xet
httpcore
httpx
huggingface_hub
idna
Jinja2
kagglehub
kagglesdk
markdown-it-py
MarkupSafe
mdurl
mpmath
multidict
multiprocess
networkx
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-cufile-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvshmem-cu12
nvidia-nvtx-cu12
packaging
pandas
peft
propcache
protobuf
psutil
pyarrow
Pygments
python-dateutil
PyYAML
regex
requests
rich
safetensors
setuptools
shellingham
six
sympy
tokenizers
torch
tqdm
transformers
trl==0.11.4
triton
typer
typer-slim
typing_extensions
urllib3
xxhash
yarl
